@media (max-width: 1200px) {
    .container {
        padding-inline: 40px;
    }
    .story__inner {
        flex-direction: column;
    }
    .story__image {
        margin-bottom: 40px;
    }
    .story__text {
        max-width: 100%;
        text-align: center;
        margin: 0;
    }
}

@media (max-width: 960px) {
    .section {
        padding-block: 30px;
    }

    .title {
        margin-bottom: 30px;
    }

    .hero__title {
        font-size: 54px;
        line-height: 75px;
    }

    .blog__item {
        max-width: 100%;
    }

    .blog__list {
        padding-inline: 0;
    }

    .post {
        padding: 20px;
    }

    .post__content {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }

    .post__image {
        margin-bottom: 0;
    }
}

@media (max-width: 700px) {
    .container {
        padding-inline: 20px;
    }
    .post__content {
        flex-direction: column;
    }
}